pytest-homeassistant-custom-component
aiohttp>=3.8.6 # not directly required, pinned by Snyk to avoid a vulnerability
httpx>=0.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyyaml>=5.4 # not directly required, pinned by Snyk to avoid a vulnerability
